@import "base";
@import "variables";
@import "mixin";

// header
header {
  background: $primary;
  @include mobile568 {
    .container {
      padding: 0px 0px !important;
    }
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mobile568 {
      flex-direction: column;
      justify-content: center;
    }

    .header__logo a {
      display: block;
      width: 80px;
      height: 49px;
      margin: 30px 0px;
      background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/logo.png?raw=true);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      @include hide-text;
      @include mobile568 {
        width: 48px;
        height: 30px;
        margin: 10px 0px;
      }
    }

    .menu {
      display: flex;
      @include mobile568 {
        flex-wrap: wrap;
      }
      li {
        @include mobile568 {
          width: 50%;
          border: 1px solid $white;
          text-align: center;
          font-size: 20px;
          line-height: 29px;
        }
      }
      a {
        padding: 0px 32px;
        color: $white;
        text-decoration: none;
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
        @include desktop {
          padding: 0px 20px;
        }
        @include mobile568 {
          margin: 8px 0px;
        }
      }
      li:last-child a {
        padding-right: 0px;
        @include desktop {
          padding-right: 0px;
        }
        @include mobile568 {
          padding: 0px 20px;
        }
      }
    }
  }
}
