// Color system
// scss-docs-start gray-color-variables
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;
$blue: #0d6efd !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #198754 !default;
$teal: #20c997 !default;
$cyan: #0dcaf0 !default;
// scss-docs-end color-variables

// my scss-docs-start theme-color-variables
$primary: #aa0601;
$secondary: #650300;
$success: #aa06010d;
$light: #707070;
$dark: #212529;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
// scss-docs-end theme-color-variables

.py-m {
  padding: 39px 0px;
  @include desktop {
    padding: 32px 0px;
  }

  @include mobile568 {
    padding: 24px 0px;
  }
}

.pt-l {
  padding-top: 60px;
  @include desktop {
    padding-top: 40px;
  }

  @include mobile568 {
    padding-top: 32px;
  }
}

.pb-l {
  padding-bottom: 60px;
  @include desktop {
    padding-bottom: 0px;
  }

  @include mobile568 {
    padding-bottom: 0px;
  }
}

.d-flex {
  display: flex;
  justify-content: center;
}
